 .ui-widget-header{
           text-align: center;
            font-size: 72px;
            color: orange;
        }
        
        
    form {
    border: 3px solid #f1f1f1;
    }
    body{
        background-color: blue;
        border-style: dashed;
        border-width: 25px;
        border-color: orange;
        padding: 30px;
    }        
        
 .navbar{
        display: block;
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
        
    }
    .home{
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
    }
    .roster
    {
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
    }
    .ppg{
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
    }
    .history{
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
    }
    .fs{
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
    }
    

    .li{
        padding: 10px 40px;
        border-style: solid;
        border-width: 12px;
        border-color: orange;
        color: orange;
    }
        
    .b {
        background-color: orange;
        color: blue;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .b:hover {
        opacity: 0.8;
    }
    
    .container {
        padding: 16px;
    }
    
    .stack{
        color: orange;
    }    